:root {
  --accent-color: #404bbf;
  --pimary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --background-color-navy: #2e2f42;
  --logo-text-light: #f4f4fd;
  --background-color-white: #ffffff;
  --background-color-cloud: #f4f4fd;
  --web-logo: #4d5ae5;
  --paragraf-dark: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --button-iris: #4d5ae5;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: var(--pimary-font);
  color: var(--primary-text-color);
  background-color: var(--background-color-white);
}

.box {
  outline: 2px solid tomato;
}
.container {
  width: 1158px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
}
/* ======================================Komponents========================================== */

.descr-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.descr-title-dark {
  color: var(--paragraf-dark);
}
.descr-title-light {
  color: var(--cloud);
}
.adress {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--primary-text-color);
}
.contact-list:not(:last-child) {
  margin-right: 40px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* ======================================Header========================================== */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.studio-logo-dark {
  margin-right: 76px;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu {
  display: flex;
  align-items: center;
}
.contact {
  display: flex;
  align-items: center;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}
.web-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-logo);
}
.studio-logo-dark {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

/* ======================================Hero========================================== */

.hero {
  background-color: var(--background-color-navy);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 48px;
}

.type-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--web-logo);
  border: none;
  border-radius: 4px;
  padding: 16px, 32px;
}

.type-button:hover,
.type-button:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

/* ======================================Task and goals========================================== */
.section-task {
  padding-top: 120px;
  padding-bottom: 120px;
}
.task-list {
  display: flex;
  align-items: center;
}
.task-list:not(:last-child) {
  margin-right: 24px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* ============================Section work==================== */
.section-work {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ========================Our team===================== */

.section-team {
  background-color: var(--background-color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  background-color: var(--background-color-white);
}
.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* ======================================footer========================================== */

.page-footer {
  background-color: var(--background-color-navy);
  padding-top: 100px;
  padding-bottom: 100px;
}
.studio-logo-light {
  color: var(--cloud);
}

/* <!-- ==================Portfolio ==================--> */
.page-works {
  padding-top: 96px;
  padding-bottom: 120px;
}

.nav-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--button-iris);
  background: var(--background-color-cloud);
  border: none;
}

.buttons {
  display: flex;
  align-items: center;
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--accent-color);
  color: var(--white);
}
